
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border: 1px solid black;
    height: 300px;
    background-color: grey;
    color: white;
    font-size: 75px;
}

.one, .two, .three, .four, .five, .six, .clock {
    border: 5px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 4px;
    width: 15%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}